<div class="container text-center">

<% if @user.errors.any? %>
  <ul class = "text-danger list-unstyled">
   <%  for err in @user.errors.full_messages %>
    <li>
      <%= err%>
    </li>
    <% end %>
  </ul>
<% end %>

  <%= form_for(@user, url: create_user_path) do |f|%>
<br>
<div class="form-group">
      <%= f.label(:username, class: "control-label") %>
      <%= f.text_field :username, autofocus: true, class: "form-control" %>

</div>
<div class="form-group">

      <%= f.label(:password, class: "control-label") %>
      <%= f.password_field(:password, class: "form-control") %>
</div>
<div class="form-group">

      <%= f.label(:password_confirmation, class: "control-label") %>
      <%= f.password_field(:password_confirmation, class: "form-control") %>
</div>
<div class="form-group">

      <%= f.submit("Sign Up", class: "btn btn-primary") %>
</div>

  <% end %>


<p><%= link_to("Have an account already? Sign up here", 'login') %></p>
</div>